{% extends "base.html" %}

{% load static %}
{% block content %}
<h1 style="text-align: center; margin-top: 100px;">Chatroom</h1>
<!-- <h2 style="text-align: center">IP usera: {{ visitor_ip }}</h2> -->
<!--
<div class="container darker">
    <span alt="Avatar" class="right" style="width:100%;">Bot nazwa 1</span>
    <p>Hej, to wiadomosc bota</p>
    <span class="time-right">22:02</span>
</div>

<div class="container">
    <span alt="Avatar" class="right" style="width:100%;">Usernazwa</span>
    <p>To wiadomosc napisana przez usera</p>
    <span class="time-left">22:05</span>
</div>
-->
<div id="chatroom">
  <!--{% for message in messages %}
      {% if curr_user == message.sender_name %}
          <div class="container darker">
            <span alt="Avatar" class="right" style="width:100%;">{{message.sender_name}}</span>
              <p>{{message.description}}</p>
              <span class="time-right">{{message.time}}</span>
          </div>
      {% else %}
          <div class="container">
            <span alt="Avatar" class="right" style="width:100%;">{{message.sender_name}}</span>
              <p>{{message.description}}</p>
              <span class="time-left">{{message.time}}</span>
          </div>
      {% endif %}
  {% endfor %}
        
  <div class="container" style="display: none;">
    <span alt="Avatar" class="right" style="width:100%;">Usernazwa</span>
    <p>To wiadomosc napisana przez usera</p>
    <span class="time-left">22:05</span>
  </div>
  -->
</div>

<div class="col-3" style="margin: auto;">
  <div class="snippet" data-title="dot-pulse" style="margin: auto;">
    <div id="stage" class="stage" style="margin: auto; margin-top: 2%;  display: none;">
      <span id="user-writing" class="user_writing" style="margin-left: 2%;">Piotrek pisze</span>
      <span class="dot-pulse" style="margin-left: 3%; display: inline-block;"></span>
    </div>
  </div>
</div>

<div class="row">
    <form class="form-group" id="chat-box" onsubmit="return false">
        {% csrf_token %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <input type="text" placeholder="Napisz wiadomość..." name="message" id="msg_field" maxlength="1000">
                <button name="send" class="btn btn-success" id="send_btn">Wyślij</button>
            </div>
        </div>
    </form>
</div>

<div style="text-align: center;" id='seconds-counter'>Czas do zakończenia czatu: 4 minuty</div>

<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>

<script>

let user_name = "{{ nick }}";

respect_bots_messages = { 
  2:["Ania", "Cześć!"],
  6:["Kasia", "Hej"],
  11:["Piotrek", "ello"],
  15:["Piotrek", "sztos :P"],
  20:["Bartek", "lol xd "],
  24:["Agnieszka", "hej hej "],
  29:["Michal", "siema"],
  33:["Piotrek", "co mamy robic?"],
  38:["Piotrek", "robić**"],
  42:["Agnieszka", "Wiesz co chyba mamy coś o tym artykule porozmawiać"],
  47:["Ania", "Git"],
  51:["Ania", "W sumie spoko, że mają zamiar narzucić na gminy obowiązek opieki nad cmenatrzami żydowskimi"],
  56:["Agnieszka", "w końcu to chodzi o szacunek do kogoś dziedzictwa co nie?"],
  60:["Michal", "(Thumbs up)"],
  65:["Kasia", "dokładnie pasuje szanować innych i ich kultury, co z tego, że się z tym nie utożsamiamy..."],
  69:["Bartek", "❤‍🧡‍💛‍💚‍💙‍💜"],
  74:["Arek", "…... "],
  78:["Arek", "słuchaj pozwalamy aby to było na naszym terenie - to już chyba wystarczy…"],
  83:["Arek", "a my mamy jeszcze wydawać kasę na to? Z kogo podatków to idzie?! Śmiech na Sali "],
  87:["Michal", "XD "],
  92:["Kasia", "chyba o to chodzi w szacunku do innych co nie? "],
  96:["Kasia", "są tacy jak my i mają takie same prawa - przecież nie latasz kosić na cmenatrzu co miesiąc tylko są przeznaczone pieniądze z gminy na to…"],
  101:["Agnieska", "red heart"],
  105:["Bartek", "sam w sumei nie zgadzam się z tym, zbey opiekowac się tymi cmenatrzami czy synagogami bo powinni ogarnac sami na to hajs"],
  110:["Bartek", "ale mimo tego to nie znaczy, że będę im tego zabraniać :P niech próbują to jakoś ufundować przez rząd "],
  114:["Ania", "mamy po prostu inne wartości, co nie zmienia faktu, że wszystkie są równie ważne"],
  119:["Piotrek", " nie wiem czy się ze wsyztkim zgodze bo nei jestem zwolennikiem szacunku dla kazdej opinii xd ale tak szacunek dla kazdego czlowieka zawsze się należy "],
  123:["Michal", "troche tak"],
  128:["Arek", "tak tak… pieniądze z rządu uciekają na takie durne rzeczy. Ale tak…"],
  132:["Arek", " to tez ludzie.  powinni mieć dostep do tych samycm praw co my. "],
  137:["Agnieszka", "(thumbs up) "],
  141:["Kasia", "kurcze nie wiedziałam, że będzie tak ostro :P "],
  146:["Ania", "co nie XD"],
  150:["Bartek", "nie no ale konkluzja niezła XD"],
  155:["Michal", "jesteśmy wszyscy równi "],
  159:["Kasia", "to nie miał mieć jakiś limit czasowy czy coś?"],
  164:["Kasia", "miało**"],
  168:["Arek", "chyba tak"],
  173:["Piotrek", "(thumbs up) "],
  177:["Ania", "❤"],
  182:["Agnieszka", "(thumbs up) "],
  186:["Michal", "(thumbs up) "]
};

let colors = {
  "Ania": "aquamarine",
  "Kasia": "beige",
  "Piotrek": "silver",
  "Agnieszka": "darkseagreen",
  "Michal": "powderblue",
  "Arek": "thistle",
  "Bartek": "tan",
}


let submitButton = document.querySelector("#send_btn")

submitButton.addEventListener("click", sendUserMessage);

var seconds_to_respond = -1;


function sendUserMessage() {
    const user_message = document.getElementById("msg_field").value;
    document.getElementById("msg_field").value = "";

    const date = new Date();
    
    let hour = date.getHours().toString();
    let min = date.getMinutes().toString();
    if (hour.lengt < 2) hour = "0" + hour;
    if (min.length < 2) min = "0" + min;

    let new_message = `
    <div class="container darker" style="width: 45%; margin-left: auto; background-color: floralwhite;">
            <span alt="Avatar" class="right" style="width:100%; font-style: italic;">` + user_name + `</span>
              <p style="font-size: large; word-break: break-all;">` + user_message + `</p>
              <span class="time-left">` + hour + ":" + min + `</span>
          </div>
    `;

    document.getElementById("chatroom").innerHTML += new_message;

    seconds_to_respond = 5;

    responding_bot = Object.keys(colors);
    responding_bot = responding_bot[Math.floor(Math.random()*responding_bot.length)];

    respond = "O cześć " + user_name + "! Fajnie napisałeś <3";
    if (user_message.length > 200) {
      respond = "tl;dr";
    }

    $.ajax({
        type: "POST",
        url: "../ajax/",   
        data: {
              csrfmiddlewaretoken: '{{ csrf_token }}',
              action: "message",
              message: user_message,
              message_time: seconds
            },
        success:  function(response){
               //alert(response);
           }
    });
}

let chatroom = document.getElementById("chatroom");

/*
TODO
var start_timestamp = parseInt("{{ start_timestamp }}");
var seconds = Math.floor(Date.now() / 1000) - start_timestamp;
*/
var seconds = 0;

var seconds_counter = document.getElementById('seconds-counter');
/*
for (let i = 0; i < seconds; i++) {
    const date = new Date();
    let hour = date.getHours().toString();
    let min = date.getMinutes().toString();
    if (hour.length < 2) hour = "0" + hour;
    if (min.length < 2) min = "0" + min;


    if (i in respect_bots_messages) {
      let new_message = `
      <div class="container" style="width: 50%; background-color: ` + colors[respect_bots_messages[i][0]] + `">
              <span alt="Avatar" class="right" style="width:100%; font-style: italic;">` + respect_bots_messages[i][0] + `</span>
                <p style="font-size: large;">` + respect_bots_messages[i][1] + `</p>
                <span class="time-left">` + hour + ":" + min + `</span>
            </div>
      `;

      chatroom.innerHTML += new_message;

      window.scrollTo(0, document.body.scrollHeight);

    }
}
*/

var responding_bot = "";
var respond = "";

function incrementSeconds() {
    seconds += 1;
    if (seconds_to_respond >= 0) seconds_to_respond--;

    var users_typing = [];

    for (var i = 8; i > 0; i--) {
      if (seconds + i in respect_bots_messages) {
        if (!users_typing.includes(respect_bots_messages[seconds + i][0])) {
          users_typing.push(respect_bots_messages[seconds + i][0]);
        }
      }
    }

    if (seconds_to_respond > 0) {
      if (!users_typing.includes(responding_bot)) {
        users_typing.push(responding_bot);
      }
    }

    var typing_text = " pisze";

    if (users_typing.length > 1) {
      typing_text = " piszą";
    }

    typing_text = users_typing.join(", ") + typing_text;
    typing_text = typing_text.replace(/,([^,]*)$/, " i" + '$1');

    if (users_typing.length > 0) {
      document.getElementById("stage").style.display = "block";
      document.getElementById("user-writing").innerHTML = typing_text;
    } else {
      document.getElementById("stage").style.display = "none";
    }

    const date = new Date();
    let hour = date.getHours().toString();
    let min = date.getMinutes().toString();
    if (hour.length < 2) hour = "0" + hour;
    if (min.length < 2) min = "0" + min;


    if (seconds in respect_bots_messages) {
      let new_message = `
      <div class="container" style="width: 50%; background-color: ` + colors[respect_bots_messages[seconds][0]] + `">
              <span alt="Avatar" class="right" style="width:100%; font-style: italic;">` + respect_bots_messages[seconds][0] + `</span>
                <p style="font-size: large; word-break: break-all;">` + respect_bots_messages[seconds][1] + `</p>
                <span class="time-left">` + hour + ":" + min + `</span>
            </div>
      `;

      chatroom.innerHTML += new_message;

      window.scrollTo(0, document.body.scrollHeight);

    }

    if (seconds_to_respond == 0) {
      let new_message = `
      <div class="container" style="width: 50%; background-color: ` + colors[responding_bot] + `">
              <span alt="Avatar" class="right" style="width:100%; font-style: italic;">` + responding_bot + `</span>
                <p style="font-size: large; word-break: break-all;">` + respond + `</p>
                <span class="time-left">` + hour + ":" + min + `</span>
            </div>
      `;

      chatroom.innerHTML += new_message;

      window.scrollTo(0, document.body.scrollHeight);
    }

    if (seconds == 15) {
      $.ajax({
        type: "POST",
        url: "../ajax/",   
        data: {
              csrfmiddlewaretoken: '{{ csrf_token }}',
              action: "nick",
              nick: user_name
            },
        success:  function(response){
               //alert(response);
           }
    });

    }

    var time_to_left_chat = 240 - seconds;

    var new_time = "Czas do zakończenia czatu: "
    var minutes_to_end = Math.floor(time_to_left_chat / 60);
    var seconds_to_end = time_to_left_chat % 60;

    if (minutes_to_end > 0) {
      var minutes_text = " minut";

      if (minutes_to_end == 1) {
        minutes_text = " minuta";
      }
      else if (minutes_to_end < 5) {
        minutes_text = " minuty";
      }

      new_time += minutes_to_end + " " + minutes_text;
    }

    if (seconds_to_end > 0) {
      var seconds_text = " sekund";

      if (seconds_to_end == 1) {
        seconds_text = " sekunda";
      }
      else if (seconds_to_end < 5) {
        seconds_text = " sekundy";
      }

      if (minutes_to_end > 0) {
        new_time += " i ";
      }

      new_time += seconds_to_end + " " +  seconds_text;
    }

    if (time_to_left_chat < 0) {
      window.location.href = "{% url 'end_chat' %}";
    }

    seconds_counter.innerText = new_time;
}

var cancel = setInterval(incrementSeconds, 1000);

</script>

<style>
  .input-group-prepend {
    margin-bottom: 2%;
    margin-top: 1%;
  }

  #send_btn {
    width: 7%;
    height: 50px;
    border: none;
    border-radius: 4pt;
    box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 30%);
    outline-color: transparent;
    font-size: larger;
  }

  #msg_field {
    width: 50%;
    background: aliceblue;
    border: none;
    border-radius: 2pt;
    box-shadow: 0 0 0 1pt white;
    outline-color: transparent;

    text-indent: 1%;
    font-size: 18px;
    margin-right: 20px;
  }

  .dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  box-shadow: 9999px 0 0 -5px;
  animation: dot-pulse 1.5s infinite linear;
  animation-delay: 0.25s;
}
.dot-pulse::before, .dot-pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
}
.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px;
  animation: dot-pulse-before 1.5s infinite linear;
  animation-delay: 0s;
}
.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px;
  animation: dot-pulse-after 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dot-pulse-before {
  0% {
    box-shadow: 9984px 0 0 -5px;
  }
  30% {
    box-shadow: 9984px 0 0 2px;
  }
  60%, 100% {
    box-shadow: 9984px 0 0 -5px;
  }
}
@keyframes dot-pulse {
  0% {
    box-shadow: 9999px 0 0 -5px;
  }
  30% {
    box-shadow: 9999px 0 0 2px;
  }
  60%, 100% {
    box-shadow: 9999px 0 0 -5px;
  }
}
@keyframes dot-pulse-after {
  0% {
    box-shadow: 10014px 0 0 -5px;
  }
  30% {
    box-shadow: 10014px 0 0 2px;
  }
  60%, 100% {
    box-shadow: 10014px 0 0 -5px;
  }
}

.container {
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  box-shadow: 6px 6px 6px 0px rgb(0 0 0 / 30%);
  border: none;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-left {
  color: #000000;
  font-family: cursive;
}

.messages{
    height: 500px;
    width: 1200px;
    border: thick solid #000;
    border-width: 2px;
    margin-top: 16px;
    overflow-y: auto;
}

#msg_field{
    margin-left: 24px;
    margin-top: 16px;
    width: 1000px;
}

#send_btn{
    margin-top: 16px;
    height: 40px;
}

</style>

{% endblock content %}
