{% extends "base.html" %}

{% load static %}
{% block content %}
<article id="data-from-django" data-nick="{{ nick }}" data-token="{{ csrf_token }}" data-end-url="{% url 'return_qualtrics_code' %}" data-start-timestamp = "{{ start_timestamp}}" tabindex="-1">
</article>

<h1 style="text-align: center; margin-top: 100px;">Chatroom</h1>

<div id="chatroom">
</div>

<div class="col-3" style="margin: auto;">
  <div class="snippet" data-title="dot-pulse" style="margin: auto;">
    <div id="stage" class="stage" style="margin: auto; margin-top: 2%;  display: none;">
      <span id="user-writing" class="user_writing" style="margin-left: 2%;">Piotrek pisze</span>
      <span class="dot-pulse" style="margin-left: 3%; display: inline-block;"></span>
    </div>
  </div>
</div>

<div class="row">
  <form class="form-group" id="chat-box" onsubmit="return false">
    {% csrf_token %}
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <input type="text" placeholder="Napisz wiadomość..." name="message" id="msg_field" maxlength="1000" tabindex="0">
        <button name="send" class="btn btn-success" id="btn-submit" tabindex="1">Wyślij</button>
      </div>
    </div>
  </form>
</div>

<div style="text-align: center;" id='seconds-counter'>Czas do zakończenia czatu: 4 minuty</div>

<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/button_animation.js' %}"></script>
<script src="{% static 'js/bots_messages.js' %}"></script>
<script src="{% static 'js/chatroom_script.js' %}"></script>

<link rel="stylesheet" href="{% static 'styles/chatroom_style.css' %}">

{% endblock content %}