{% extends "base.html" %}

{% load static %}
{% block content %}
<article id="data-from-django"
	data-nick="{{ nick }}"
	data-token="{{ csrf_token }}"
	data-end-url="{% url 'return_qualtrics_code' %}"
	data-start-timestamp = "{{ start_timestamp}}"
	data-is-positive = "{{ is_positive_manipulation }}"
	data-translations="{{ translations }}"
	data-bad-end-url="{% url 'end_chat' %}"
  data-bad-end-no-exitpoll-url="{% url 'end_chat_no_exitpoll' %}"
	data-chat-speed-hidden="{{ chat_speed_hidden }}"
	data-not-exit-chat-hidden="{{ not_exit_chat_hidden }}"
	data-dont-scroll-chat-hidden="{{ dont_scroll_chat_hidden }}"
  data-no-user-interaction-hidden="{{ no_user_interaction_hidden }}"
  data-instant-exit-poll-hidden="{{ instant_exit_poll_hidden }}"
  data-is-debug-mode-hidden="{{ is_debug_mode_hidden }}"
  tabindex="-1">  
</article>

<h1 id="header-text" class="header-text" >Chatroom</h1>

<div id="chatroom">
</div>

<dialog id="dialog-box">
  <b>{{ translations.chatroom_end_dialog_warning }}</b>
  <p>{{ translations.chatroom_end_dialog_text }} 30 {{ translations.second_many }}</p>
  <br>
  <div class="dialog-buttons"><button id="dialog-button" onclick="closeDialog()">{{ translations.OK }}</button></div>
</dialog>

<dialog id="report-box">
  <b>{{ translations.chatroom_report_box_text }}</b>
  <br>
  <!-- <div class="dialog-buttons"><button id="dialog-button" onclick="closeReportDialog()">{{ translations.OK }}</button></div> -->
</dialog>

<div class="col-3" style="margin: auto;">
  <div class="snippet" data-title="dot-pulse" style="margin: auto;">
    <div id="stage" class="stage" style="margin: auto; margin-top: 2%;  display: none;">
      <span id="user-writing" class="user_writing" style="margin-left: 2%;">{{ translations.chatroom_user_typing_text }}</span>
      <span class="dot-pulse" style="margin-left: 3%; display: inline-block;"></span>
    </div>
  </div>
</div>

<div id="respond-input-box" class="container container-respond" style="display: none">
  <button class="close-respond" id="close-respond" onclick="closeRespond()"></button>
  <p id="respond-input-box-nick">{{ translations.chatroom_respond_to_user }}</p>
  <p id="respond-input-box-message">respond_message</p>
</div> 

<div class="row {% if no_user_interaction_hidden == 1 %}height-60{% endif %}">
  <form class="form-group {% if no_user_interaction_hidden == 1 %}hidden{% endif %}" id="chat-box" onsubmit="return false">
    {% csrf_token %}
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <textarea type="text" placeholder="{{ translations.chatroom_input_placeholder }}" name="message" id="msg_field" maxlength="250" tabindex="0"> </textarea>
        <button name="send" class="btn btn-success" id="btn-submit" tabindex="1">{{ translations.button_send }}</button>
      </div>
    </div>
  </form>
</div>

<div class="bottom-bar">

<label for="change-font-size" style="margin-top: auto; margin-bottom: auto;">{{ translations.chatroom_change_font_button }}</label>
  <select id="change-font-size">
      <option value="0">{{ translations.chatroom_font_small }}</option>
      <option value="1">{{ translations.chatroom_font_medium }}</option>
      <option value="2">{{ translations.chatroom_font_large }}</option>
  </select>
<button name="send" class="btn btn-success" id="change-color-button" tabindex="1">{{ translations.chatroom_change_color_button }}</button>

<span style="float: right; margin-right: 2%; padding-top: inherit;" id='seconds-counter'>{{ translations.chatroom_time_to_end }}</span>

</div>

<div id="chatroom-poll-dialog-box">
  <h3>{{ translations.chatroom_poll_dialog_text }}</h3>
  <h3>{{ translations.chatroom_poll_dialog_text_enter }}</h3>
  <p id="poll-users-amount">{{ translations.chatroom_poll_users_amount }}</p>

  <div class="progress-container">
      <div class="progress-bar" id="progress-bar" style="width: 50%;">50% {{ translations.yes }}</div>
      <span class="remaining-text" id="remaining-text">50% {{ translations.no }}</span>
  </div>

  <h3 id="chatroom-poll-thanks">{{ translations.chatroom_poll_thanks }}</h3>

  <button class="poll-btn-submit" id="chatroom-poll-yes">{{ translations.yes }}</button>
  <button class="poll-btn-submit" id="chatroom-poll-no">{{ translations.no }}</button>
</div>

<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/button_animation.js' %}"></script>
<script src="{% static 'js/' %}{{ language_code }}/positive_bots_messages.js"></script>
<script src="{% static 'js/' %}{{ language_code }}/negative_bots_messages.js"></script>
<script src="{% static 'js/' %}{{ language_code }}/control_bots_messages.js"></script>
<script src="{% static 'js/' %}{{ language_code }}/curse_words.js"></script>
<script src="{% static 'js/svgs.js' %}"></script>

<script src="{% static 'js/chatroom_scripts/consts.js' %}"></script>
<script src="{% static 'js/chatroom_scripts/logger.js' %}"></script>

<script src="{% static 'js/chatroom_scripts/legacy_features/legacy_reports_abuse.js' %}"></script>
<script src="{% static 'js/chatroom_scripts/legacy_features/legacy_curiosity_questions.js' %}"></script>

<script src="{% static 'js/chatroom_scripts/bots_scripted_messages_manager.js' %}"></script>

<script type="module" src="{% static 'js/chatroom_scripts/chatroom_script.js' %}"></script>

<link rel="stylesheet" href="{% static 'styles/chatroom_style.css' %}">

{% endblock content %}