{% extends "base.html" %}
{% load static %}

{% block content %}

<h1 style="text-align: center; margin-top: 100px;">Chatroom badania</h1>
<h2 style="text-align: center;">
    Uwaga! Czatu nie można opuścić, kończy się automatycznie po 4 minutach od dołączenia.
    <br>
    Po zakończeniu czatu zobaczysz kod, który należy podać w Qualtricsie żeby kontynuować badania
</h2>

<h2 style="text-align: center;">Podaj swój nick i kod z Qualtricsa, żeby dołączyć do lobby</h2>

<h3 style="text-align: center;">(Akceptowany kod z Qualtricsa to 12)</h3>


<form action="/" method="post" style="text-align: center; margin-top: 50px;">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Zatwierdź" class="btn-submit" id="btn-submit">
</form>

<script src="{% static 'js/button_animation.js' %}"></script>
<link rel="stylesheet" href="{% static 'styles/home_style.css' %}">

<script>
document.getElementById("id_nick").focus();
document.getElementById("id_nick").select();
</script>

{% endblock content %}