{% extends "base.html" %}
{% load static %}

{% block content %}
<article id="data-from-django" data-nick="{{ nick }}" data-token="{{ csrf_token }}" data-chatroom-url = "{% url 'chatroom' %}" data-start-timestamp = "{{ start_timestamp }}" data-translations="{{ translations }}"></article>

<h1 class="header-text" >{{ lobby_title }}</h1>
<h2 style="text-align: center;">{{ translations.lobby_warning }}</h2>

<h2 id="users-counter" style="text-align: center;">{{ translations.lobby_users_counter }}</h1>

<div style="text-align: center;" id='seconds-counter'>{{ translations.lobby_timer }}</div>

<table id="bots-table" class="bots-table">
    <tbody>
        <tr>
            <td id="bot-0"></td>
            <td id="bot-1"></td>
            <td id="bot-2"></td>
        </tr>
    </tbody>
</table>
<table id="bots-table" class="bots-table" style="margin-top: -3px;">
    <tbody>
        <tr>
            <td id="bot-3"></td>
            <td id="bot-4"></td>
            <td id="bot-5"></td>
        </tr>
    </tbody>
</table>

<!--
<a style="text-align: center;" href="{% url 'chatroom' %}">Pomiń oczekiwania (tylko do testów)</a>
-->

<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/svgs.js' %}"></script>
<script src="{% static 'js/lobby_script.js' %}"></script>

<link rel="stylesheet" href="{% static 'styles/lobby_style.css' %}">

{% endblock content %}