{% extends "base.html" %}

{% block content %}
<h1 style="text-align: center; margin-top: 100px;">Witaj {{ nick }}, poczekaj na przydzielenie do chatroomu</h1>

<h2 id="users-counter" style="text-align: center;">Ilość osób w lobby: 2</h1>
<h2 id="wait_time" style="text-align: center;">Czas oczekiwania: </h1>

<div style="text-align: center;" id='seconds-counter'>Czas oczekiwania: - sekund</div>

<script>
/*
TODO
var start_timestamp = parseInt("{{ start_timestamp }}");

var seconds = Math.floor(Date.now() / 1000) - start_timestamp;
*/
var seconds = 0;
var wait_time = 19;

var el = document.getElementById('seconds-counter');
var users_counter = document.getElementById('users-counter');

document.getElementById('wait_time').innerText = "Czas do dołączenie do chatroomu: " + wait_time + " sekund (tylko do testów)";

var users_actual_amount = 2;
var time_to_another_users = [
    0,
    0,
    3,
    4,
    7,
    13,
    15,
];

for (let i = 0; i < 7; i++) {
    if (time_to_another_users[i] > seconds) {
        users_counter.innerText = "lość osób w lobby: " + i;
        break;
    }
}

function incrementSeconds() {
    seconds += 1;

    var seconds_text = " sekund";

    if (seconds == 1) {
        seconds_text = " sekunda";
    }
    else if (seconds < 5) {
        seconds_text = " sekundy";
    }

    el.innerText = "Czas oczekiwania: " + seconds + seconds_text;

    if (seconds == time_to_another_users[users_actual_amount]) {
        users_actual_amount++;
        users_counter.innerText = "lość osób w lobby: " + users_actual_amount;
    }

    if (seconds > wait_time) {
        window.location.href = "{% url 'chatroom' %}";
    }
}

var cancel = setInterval(incrementSeconds, 1000);
</script>

<a style="text-align: center;" href="{% url 'chatroom' %}">Pomiń oczekiwania (tylko do testów) UWAGA!!! Z powodu zaimplementowanego zabezpieczenia czasowego nei działa</a>

{% endblock content %}