.errorlist {
  color: red;
}

.form-input {
  /*background: aliceblue;*/
  background: #f3f3f5;
  border: none;
  border-radius: 2pt;
  box-shadow: 0 0 0 1pt white;
  outline-color: transparent;

  text-indent: 1%;
  font-size: 18px;
}

body {
  background-color: #ffffff !important;
  color: black !important;
  margin-right: 10%;
  margin-left: 10%;
}

p {
  /*TODO change font*/
  /* font-family: monospace; */
  color: black !important;

}

.debug-box {
  border: 1px solid #000;
  padding: 10px;
  width: fit-content;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: sans-serif;
  background-color: #f9f9f9;
  margin-left: 40%;
}

.debug-box label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.debug-box select {
  margin-top: 4px;
}

.debug-box input[type="checkbox"] {
  margin-right: 6px;
}

.debug-box label[for] {
  flex-direction: row;
  align-items: center;
}
